/* tests/css-splitter-test.css */

@import url("css-splitter-test--all.css") all;
@import url("css-splitter-test--screen-and-maxwidth640px.css") screen and (max-width:640px);
@import url("css-splitter-test--screen-and-minwidth641px-and-maxwidth768px.css") screen and (min-width:641px) and (max-width:768px);
@import url("css-splitter-test--screen-and-maxwidth1023px.css") screen and (max-width:1023px);
