/* tests/css-splitter-test.css | all */

#first-step .main-container .first-steps .image-container {display: none;}#first-step .main-container .first-steps .copy-container {width: 80%;padding-left: 10%;padding-right: 10%;}undefined