@media screen and (max-width: 640px) {
    #viewporter{overflow-x:visible;}

    .header-top p {
        margin:10px auto 0;
        position: static;
    }
}

/* First Step Tout Include */
/* TO DO: Clean this up later, was extracted from home page to make
   the tout an include but it is really messy */

@media screen and (min-width:641px) and (max-width: 768px) {
    #first-step {
        width: 80%;
        margin: 0 10% 0 10%;
    }

    #first-step .main-image-container.first-step {
        display: none;
    }
}


@media screen and (max-width: 1023px) {
    #first-step .main-image-container.first-step-mobile {
        display: block;
    }

    #first-step .main-container .first-steps .copy-container .title {
        font: 900 24px/40px 'museo';
    }

    #first-step .main-container .first-steps .copy-container .body {
        font: 300 15px/18px 'museo';
    }
    @keyframes myfirst {
        from {background: red;}
        to {background: yellow;}
    }

    @-moz-keyframes myfirst /* Firefox */ {
        from {background: red;}
        to {background: yellow;}
    }

    @-webkit-keyframes myfirst /* Safari and Chrome */ {
        from {background: red;}
        to {background: yellow;}
    }

    @-o-keyframes myfirst /* Opera */ {
        from {background: red;}
        to {background: yellow;}
    }
}

#first-step .main-container .first-steps .image-container {
	display: none;
}

#first-step .main-container .first-steps .copy-container {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}

@media screen and (min-width:641px) and (max-width: 768px) {
    .share-iframe {
        position: absolute;
        background: #fff;
        width: 80%;
        height: 600px;
        left: 10%;
        min-width: 0px;
        margin: 100px auto;
        border: 0;
        border-radius: 5px;
    }
/*

*/
}
#first-step .main-container .first-steps {
	display: inline;
}

