/* css-splitter :  http://github.com/gerardobort/css-splitter */

#first-step { width: 80%;margin: 0 10% 0 10%;} #first-step .main-image-container.first-step { display: none;}.share-iframe { position: absolute;background: #fff;width: 80%;height: 600px;left: 10%;min-width: 0px;margin: 100px auto;border: 0;border-radius: 5px;}